body{
     direction:rtl;
     height:100%;
     background-color:white;
     font-family: "Roboto", sans-serif;
     -webkit-font-smoothing: antialiased;
}
header{
    width:100%;
    height:120px;
}
#logo{
    width:5%;
    margin-right: 33%;
    float:left;
    
}
footer p img{
    width:0.7%;
    height:0.7%;

}
footer p{
    
}
footer{
   left: 0;
   bottom: 0;
   width:100%;

   text-align:center;
}
#title{
    text-align:center;
    float:right;
    font-size:30px;
    width:30%;
    margin-right:32%;
    
  
}
